body {
    font-family: 'Vollkorn', arial, serif;
    text-align: center;
    background-color: #FFE;}
#main {
    margin: 2em auto;
    width: 900px;
    height: 100%;
}
h1, h2 {font-family: 'Ultra', arial, serif;
    font-weight: normal;}
h1 a {text-decoration: none; color: black;}
#left, #controls {
    float: left;
    padding: 1em;
    width: 250px;
    margin: 1em;
    border: 1px solid brown;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    background-color: #FFF;
    -moz-box-shadow: 1px 1px 5px #888;
    -webkit-box-shadow: 1px 1px 5px #888;
    box-shadow: 1px 1px 5px #888;
}

#left form label {
    clear: both;
}

#right, #listings {
    float: right;
    text-align: left;
    padding: 1em;
    width: 500px;
    margin: 1em;
    border: 1px solid brown;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    background-color: #FFF;
    -moz-box-shadow: 1px 1px 5px #888;
    -webkit-box-shadow: 1px 1px 5px #888;
    box-shadow: 1px 1px 5px #888;
}

#controls {
    width: 200px;
}

#listings {
    width: 550px;
}
