<doctype html>
<html>
    <head>
        <title>Oakland Food Finder</title>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/style.css">
        <link href='http://fonts.googleapis.com/css?family=Ultra' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <h1><a href="/">Oakland Food Finder</a></h1>
        <div id="main">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
